#root
note.txt
.gitignore.swp
/node_modules
.vscode/
.gitignore.swp
.DS_Store
.scannerwork/

debug.log
npm-debug.log
$RESOURCE_DIR/**

package-lock.json
jsconfig.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Gruntfile.js

/.scannerwork
/sandbox
